autoload -Uz compinit
compinit

export PATH=$PATH:$HOME/.local/bin
# Requirements: Cargo, Krew, Volta
export PATH=$PATH:$HOME/.cargo/bin
export PATH=$PATH:$HOME/.krew/bin
export PATH=$PATH:$HOME/.volta/bin

export EDITOR=nvim

alias ls="eza -l"
alias lg="lazygit"
alias cd="z"
alias cze="chezmoi edit --apply"

{{ if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
antidote load

export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_ENV_HINTS=TRUE
export SDKMAN_DIR=$(brew --prefix sdkman-cli)/libexec
export PNPM_HOME=$HOME/Library/pnpm
export PATH=$PATH:$PNPM_HOME
export PATH=$PATH:$HOME/go/bin

alias bbic="brew update && brew bundle install --cleanup --file=~/.config/Brewfile && brew upgrade"
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"
{{ end }}


{{ if eq (env "SHELL") "/bin/zsh" }}
eval "$(starship init zsh)"
{{ end }}

# Added by Antigravity
export PATH="/Users/potato/.antigravity/antigravity/bin:$PATH"
export PATH="$HOME/Miniforge3/bin:$PATH"

