# macOS only (ignored on Linux via .chezmoiignore)

tap "felixkratz/formulae", trusted: true
tap "koekeishiya/formulae", trusted: true
tap "nikitabobko/tap", trusted: true
tap "sdkman/tap", trusted: true
tap "buildpacks/tap", trusted: true
tap "hcavarsan/kftray", trusted: true
tap "hashicorp/tap", trusted: true
tap "oven-sh/bun", trusted: true
tap "anomalyco/tap", trusted: true
tap "fluxcd/tap", trusted: true

brew "age", trusted: true
brew "antidote", trusted: true
brew "atuin", trusted: true
brew "bat", trusted: true
brew "bc", trusted: true
brew "chezmoi", trusted: true
brew "cloudflared", trusted: true
brew "coreutils", trusted: true
brew "eza", trusted: true
brew "fd", trusted: true
brew "fzf", trusted: true
brew "gawk", trusted: true
brew "gh", trusted: true
brew "git-delta", trusted: true
brew "gitleaks", trusted: true
brew "gnupg", trusted: true
brew "go", trusted: true
brew "helm", trusted: true
brew "istioctl", trusted: true
brew "jq", trusted: true
brew "k9s", trusted: true
brew "kubectx", trusted: true
brew "lazydocker", trusted: true
brew "lazygit", trusted: true
brew "lua", trusted: true
brew "maven", trusted: true
brew "mise", trusted: true
brew "neovim", trusted: true
brew "oci-cli", trusted: true
brew "pipx", trusted: true
brew "rage", trusted: true
brew "rclone", trusted: true
brew "ripgrep", trusted: true
brew "rust", trusted: true
brew "rustup", trusted: true
brew "sk", trusted: true
brew "starship", trusted: true
brew "zoxide", trusted: true
brew "oven-sh/bun/bun", trusted: true
brew "sdkman-cli", trusted: true
brew "hashicorp/tap/terraform", trusted: true
brew "fluxcd/tap/flux", trusted: true
brew "gemini-cli", trusted: true

brew "tailscale", trusted: true
brew "vault", trusted: true
brew "felixkratz/formulae/borders", trusted: true
brew "nowplaying-cli", trusted: true
brew "postgresql@17", trusted: true
brew "pam-reattach", trusted: true
brew "switchaudio-osx", trusted: true
brew "anomalyco/tap/opencode", trusted: true

cask "vivaldi", trusted: true
cask "bitwarden", trusted: true
cask "discord", trusted: true
cask "ghostty", trusted: true
cask "keka", trusted: true
cask "vlc", trusted: true
cask "kekaexternalhelper", trusted: true
cask "lens", trusted: true
cask "lulu", trusted: true
cask "orbstack", trusted: true
cask "qbittorrent", trusted: true
cask "raycast", trusted: true
cask "telegram", trusted: true
cask "visual-studio-code", trusted: true
cask "dbeaver-community", trusted: true
cask "font-jetbrains-mono-nerd-font", trusted: true
cask "anydesk", trusted: true
cask "thorium", trusted: true
cask "sf-symbols", trusted: true
cask "font-sf-mono", trusted: true
cask "font-sf-pro", trusted: true
cask "google-chrome", trusted: true
cask "microsoft-remote-desktop", trusted: true
cask "freelens", trusted: true
cask "displaylink", trusted: true
cask "notunes", trusted: true
cask "steam", trusted: true
cask "iterm2", trusted: true
cask "kitty", trusted: true
cask "calibre", trusted: true
cask "rustdesk", trusted: true
