tap "felixkratz/formulae"
tap "koekeishiya/formulae"
tap "nikitabobko/tap"
tap "sdkman/tap"
tap "buildpacks/tap"
tap "hcavarsan/kftray"
tap "hashicorp/tap"
tap "oven-sh/bun"

# macOS Only
{{ if eq .chezmoi.os "darwin" }}
tap "th-ch/youtube-music"

brew "felixkratz/formulae/borders"
brew "nowplaying-cli"
brew "postgresql@17"
brew "sketchybar"
brew "pam-reattach"
brew "switchaudio-osx"
brew "nowplaying-cli"

cask "aerospace"
cask "bitwarden"
cask "discord"
cask "ghostty"
cask "keka"
cask "vlc"
cask "kekaexternalhelper"
cask "lens"
cask "lulu"
cask "orbstack"
cask "qbittorrent"
cask "raycast"
cask "telegram"
cask "visual-studio-code"
cask "youtube-music"
cask "dbeaver-community"
cask "font-jetbrains-mono-nerd-font"
cask "anydesk"
cask "thorium"
cask "sf-symbols"
cask "font-sf-mono"
cask "font-sf-pro"
cask "google-chrome"
cask "microsoft-remote-desktop"
cask "freelens"
cask "displaylink"
cask "notunes"
cask "steam"
cask "iterm2"
cask "kitty"
cask "calibre"
cask "rustdesk"
{{ end }}

brew "age"
brew "antidote"
brew "atuin"
brew "chezmoi"
brew "cloudflared"
brew "eza"
brew "fzf"
brew "gh"
brew "git-delta"
brew "gnupg"
brew "lazygit"
brew "neovim"
brew "rage"
brew "rustup"
brew "starship"
brew "volta"
brew "zoxide"
brew "jq"
brew "kubectx"
brew "bc"
brew "coreutils"
brew "gawk"
brew "glab"
brew "fd"
brew "lazydocker"
brew "ripgrep"
brew "helm"
brew "maven"
brew "oven-sh/bun/bun"
brew "sdkman-cli"
brew "lua"
brew "pipx"
brew "bat"
brew "fluxcd/tap/flux"
brew "zellij"
brew "sk"
brew "rust"
brew "gitleaks"
brew "k9s"
brew "hashicorp/tap/terraform"
brew "oci-cli"
brew "go"
brew "rclone"
brew "istioctl"
brew "gemini-cli"
brew "just"
brew "mise"

